@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

main h1{
    font-family: "Arapey", serif !important;
}

.about{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.about-left{
    width: 50%;
}
.about-left img{
    width: 80%;
}

.about-right{
    width: 50%;
    text-align: left;
}
.about-right h1{
    margin-bottom: 20px;

}

.about-right p{
    margin-bottom: 16px;
}


.separe{
    text-align: center;
}